@media (min-width: 980px) {
    .carousel-item img {
      width: 300px;
      height: 450px;
    }
  }

@media (min-width: 368px) {
    .flier {
      width: 150px;
      height: 175px;
    }
  } 

  .carousel{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .contlogo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  .slogan {
    margin-left: 10px;
  }
  
/* 3pics */

.threepics{
  height:400px;
  width:390x;
}
  /* google map// */

  .google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 50%;
    width: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

/* contact */

.contactform {
  margin-left:50px;
  background-color: #f5e0e5 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: 30px 40px;
  background-color: #f5e0e5;
  border-radius: 12px;
  max-width: 400px;
}

/* facebook contact */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 690px;
  border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* ennd facebook css */

/* //flying card// */

CSS

flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
  animation: fly 50s linear infinite;
  pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
    display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}



/*  */
