@media (min-width: 980px) {
    .carousel-item img {
      width: 300px;
      height: 450px;
    }
  }


  .carousel{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .contlogo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  .slogan {
    margin-left: 10px;
  }
  

  /* google map// */

  .google-map {
    padding-bottom: 50%;
    position: relative;
    max-width:100%;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

/* contact */

body {
  background-color: #f5e0e5 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}
